@import "./base.css";

html, body,#app ,.el-container {
  height: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
.el-main {
    overflow:scroll;
    --el-main-padding: 0 !important;
}
 

.el-header{
  border-bottom: solid 1px var(--el-menu-border-color);
  text-align: center;
  line-height: 59px;
  height: 59px;
  background-color: #032541;
}

.el-footer {
  border-top: solid 1px var(--el-menu-border-color);
  text-align: center;
  line-height: 59px;
  height: 59px;
}

a{
  text-decoration: none;
}

#router_view{
  padding: 20px;
}